
@{
    ViewBag.Title = "AccountOperations";
}

<div>
        <h2>Operations with Account</h2>
        @using (Ajax.BeginForm("DepositMoney", "Account", new AjaxOptions { UpdateTargetId = "results" }))
        {
            <button type="submit" value="depositMoney" name="ButtonType" class="my_button btn-custom btn-warning btn-lg">Deposit money</button> <br />
        }

        @using (Ajax.BeginForm("WithdrawMoney", "Account", new AjaxOptions { UpdateTargetId = "results" }))
        {
            <button type="submit" value="withdrawMoney" class="my_button btn-custom btn-warning btn-lg">Withdraw money</button> <br />
        }

        @using (Ajax.BeginForm("AccountInfo", "Account", new AjaxOptions { UpdateTargetId = "results" }))
        {
            <button type="submit" value="accountInfo" class="my_button btn-custom btn-warning btn-lg">Account info</button> <br />
        }

        @using (Ajax.BeginForm("CloseAccount", "Account", new AjaxOptions { UpdateTargetId = "results" }))
        {
            <button type="submit" value="closeAccount" class="my_button btn-custom btn-warning btn-lg">Close account</button> <br />
        }
    <div id="results">
        @{


            bool? isOperationSuccess = TempData["OperationSuccess"] as bool?;
            if (isOperationSuccess.HasValue && isOperationSuccess.Value)
            {
                TempData["OperationSuccess"] = false;
                <h2>@ViewData["Message"]</h2>
                <h1>Operation completed successfull!</h1>
            }
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}



