
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2>Welcome to my Bank System!</h2>
    <h4>Here you can open different account types, deposit and withdrow money from account and close it.</h4>
</div>
